* {
  box-sizing: border-box;
}

body{
  margin: 0;
  background: #0B2434;
  padding: 50px;
  font-family: 'Karla', sans-serif;
}

.main{
  background: #F5F5F5;
  height: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title{
  font-size: 60px;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin-top: 0;
  text-align: center;
}

.dice{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 60px;
  padding: 50px;
}

.die-face{
  box-shadow:  2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  color: black;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
}

.die-value{
  font-size: 2rem;
}

.roll-dice{
  width: 150px;
  height: 70px;
  margin-top: 20px;
  background: #5035FF;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: 'Karla', sans-serif;
  font-size: 1.8rem;
}